.character-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.character-card-link {
  color: white;
  text-decoration: none;
}

.character-card {
  background-color: rgba(44, 44, 44, 0.8); 
  border-radius: 10px;
  transition: transform 0.2s;
}

.character-card:hover {
  transform: scale(1.05);
}

.circle-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.btn-danger {
  background-color: #dc3545;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.btn-danger:hover {
  background-color: #c82333;
}
